MyCloudStore/MyCloudClient/Connected Services/ServiceReference1/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:52979/Service1.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:52979/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:52979/Service1.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="http://localhost:52979/Service1.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/System.IO" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_Upload_InputMessage">
    <wsdl:part name="parameters" element="tns:Upload" />
  </wsdl:message>
  <wsdl:message name="IService1_Upload_OutputMessage">
    <wsdl:part name="parameters" element="tns:UploadResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_UploadWithChunks_InputMessage">
    <wsdl:part name="parameters" element="tns:UploadWithChunks" />
  </wsdl:message>
  <wsdl:message name="IService1_UploadWithChunks_OutputMessage">
    <wsdl:part name="parameters" element="tns:UploadWithChunksResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_Download_InputMessage">
    <wsdl:part name="parameters" element="tns:Download" />
  </wsdl:message>
  <wsdl:message name="IService1_Download_OutputMessage">
    <wsdl:part name="parameters" element="tns:DownloadResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_DownloadWithChunks_InputMessage">
    <wsdl:part name="parameters" element="tns:DownloadWithChunks" />
  </wsdl:message>
  <wsdl:message name="IService1_DownloadWithChunks_OutputMessage">
    <wsdl:part name="parameters" element="tns:DownloadWithChunksResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_AllFiles_InputMessage">
    <wsdl:part name="parameters" element="tns:AllFiles" />
  </wsdl:message>
  <wsdl:message name="IService1_AllFiles_OutputMessage">
    <wsdl:part name="parameters" element="tns:AllFilesResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_FileExists_InputMessage">
    <wsdl:part name="parameters" element="tns:FileExists" />
  </wsdl:message>
  <wsdl:message name="IService1_FileExists_OutputMessage">
    <wsdl:part name="parameters" element="tns:FileExistsResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_FolderExists_InputMessage">
    <wsdl:part name="parameters" element="tns:FolderExists" />
  </wsdl:message>
  <wsdl:message name="IService1_FolderExists_OutputMessage">
    <wsdl:part name="parameters" element="tns:FolderExistsResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_FileInfo_InputMessage">
    <wsdl:part name="parameters" element="tns:FileInfo" />
  </wsdl:message>
  <wsdl:message name="IService1_FileInfo_OutputMessage">
    <wsdl:part name="parameters" element="tns:FileInfoResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_RenameFile_InputMessage">
    <wsdl:part name="parameters" element="tns:RenameFile" />
  </wsdl:message>
  <wsdl:message name="IService1_RenameFile_OutputMessage">
    <wsdl:part name="parameters" element="tns:RenameFileResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_DeleteFile_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteFile" />
  </wsdl:message>
  <wsdl:message name="IService1_DeleteFile_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteFileResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_StorageLeft_InputMessage">
    <wsdl:part name="parameters" element="tns:StorageLeft" />
  </wsdl:message>
  <wsdl:message name="IService1_StorageLeft_OutputMessage">
    <wsdl:part name="parameters" element="tns:StorageLeftResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_Login_InputMessage">
    <wsdl:part name="parameters" element="tns:Login" />
  </wsdl:message>
  <wsdl:message name="IService1_Login_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoginResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_CreateAccount_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateAccount" />
  </wsdl:message>
  <wsdl:message name="IService1_CreateAccount_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateAccountResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetFileHash_InputMessage">
    <wsdl:part name="parameters" element="tns:GetFileHash" />
  </wsdl:message>
  <wsdl:message name="IService1_GetFileHash_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetFileHashResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_SetFileHash_InputMessage">
    <wsdl:part name="parameters" element="tns:SetFileHash" />
  </wsdl:message>
  <wsdl:message name="IService1_SetFileHash_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetFileHashResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="Upload">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/Upload" message="tns:IService1_Upload_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/UploadResponse" message="tns:IService1_Upload_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UploadWithChunks">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/UploadWithChunks" message="tns:IService1_UploadWithChunks_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/UploadWithChunksResponse" message="tns:IService1_UploadWithChunks_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Download">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/Download" message="tns:IService1_Download_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/DownloadResponse" message="tns:IService1_Download_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DownloadWithChunks">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/DownloadWithChunks" message="tns:IService1_DownloadWithChunks_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/DownloadWithChunksResponse" message="tns:IService1_DownloadWithChunks_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AllFiles">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/AllFiles" message="tns:IService1_AllFiles_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/AllFilesResponse" message="tns:IService1_AllFiles_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FileExists">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/FileExists" message="tns:IService1_FileExists_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/FileExistsResponse" message="tns:IService1_FileExists_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FolderExists">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/FolderExists" message="tns:IService1_FolderExists_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/FolderExistsResponse" message="tns:IService1_FolderExists_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FileInfo">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/FileInfo" message="tns:IService1_FileInfo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/FileInfoResponse" message="tns:IService1_FileInfo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RenameFile">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/RenameFile" message="tns:IService1_RenameFile_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/RenameFileResponse" message="tns:IService1_RenameFile_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteFile">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/DeleteFile" message="tns:IService1_DeleteFile_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/DeleteFileResponse" message="tns:IService1_DeleteFile_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="StorageLeft">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/StorageLeft" message="tns:IService1_StorageLeft_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/StorageLeftResponse" message="tns:IService1_StorageLeft_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Login">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/Login" message="tns:IService1_Login_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/LoginResponse" message="tns:IService1_Login_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateAccount">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/CreateAccount" message="tns:IService1_CreateAccount_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/CreateAccountResponse" message="tns:IService1_CreateAccount_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetFileHash">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetFileHash" message="tns:IService1_GetFileHash_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetFileHashResponse" message="tns:IService1_GetFileHash_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetFileHash">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/SetFileHash" message="tns:IService1_SetFileHash_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/SetFileHashResponse" message="tns:IService1_SetFileHash_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Upload">
      <soap:operation soapAction="http://tempuri.org/IService1/Upload" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UploadWithChunks">
      <soap:operation soapAction="http://tempuri.org/IService1/UploadWithChunks" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Download">
      <soap:operation soapAction="http://tempuri.org/IService1/Download" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DownloadWithChunks">
      <soap:operation soapAction="http://tempuri.org/IService1/DownloadWithChunks" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AllFiles">
      <soap:operation soapAction="http://tempuri.org/IService1/AllFiles" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FileExists">
      <soap:operation soapAction="http://tempuri.org/IService1/FileExists" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FolderExists">
      <soap:operation soapAction="http://tempuri.org/IService1/FolderExists" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FileInfo">
      <soap:operation soapAction="http://tempuri.org/IService1/FileInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RenameFile">
      <soap:operation soapAction="http://tempuri.org/IService1/RenameFile" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteFile">
      <soap:operation soapAction="http://tempuri.org/IService1/DeleteFile" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="StorageLeft">
      <soap:operation soapAction="http://tempuri.org/IService1/StorageLeft" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Login">
      <soap:operation soapAction="http://tempuri.org/IService1/Login" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateAccount">
      <soap:operation soapAction="http://tempuri.org/IService1/CreateAccount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFileHash">
      <soap:operation soapAction="http://tempuri.org/IService1/GetFileHash" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetFileHash">
      <soap:operation soapAction="http://tempuri.org/IService1/SetFileHash" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="http://localhost:52979/Service1.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>